body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    margin: 20px;
    text-align: left;
}
h2 {
    margin-bottom: 10px;
}
.add-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.menu {
    display: none;
    position: fixed;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    width: 0px;
}
.menu.show, .overlay.show {
    display: grid;
    justify-content: end;
    align-content: space-between;
    padding: 20rem 0rem 0rem 0rem;
    align-items: start;
    justify-items: stretch;
    
}

.menu form {
        display: flex;
        gap: 15px;
        margin-right: 75vh;
}
.form-group {
    flex: 1 1 calc(50% - 15px);
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button {
    background-color: #28a745;
    color: white;
}
.cancel-button {
    background-color: #dc3545;
    color: white;
}
.button-group {
    margin-top: 20px;
    text-align: right;
    width: 100%;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

td button {
    margin-right: 10px; /* Espacio entre los botones */
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Cambio de color al pasar el ratón */
td button:hover {
    background-color: #45a049;
}
#productForm{
    background-color: white !important;
    padding: 2rem !important;
}
.error-message {
    color: red;
    font-size: 12px;
    display: none; /* Ocultar por defecto */
}
.error-message.show {
    display: block; /* Mostrar cuando sea necesario */
}


